* {
  font-family: 'Rubik', sans-serif;
}

.container {
  padding: 10px;
}

body {
  text-align: center;
  background-color: #f7f7f7;
}

.fa-plus-circle {
  color: #fdcb9e;
}
.fa-plus-circle:hover {
  color: #f5a560;
}
